spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/my_oj
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8000

judge:
  server:
    url: ${JUDGE_SERVER_URL}
    token: ${JUDGE_SERVER_TOKEN}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
openapi:
  service:
    api-docs: oj-api-service
    server: http://localhost:${server.port}
    title: OJ API service
    version: 1.0.0

logging:
  level:
    vn.thanhtuanle: DEBUG
  file:
    name: log/app.log
